<!--
<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed" aria-expanded="false" aria-controls="navbar" type="button" data-toggle="collapse" data-target="#navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Dating App</a>
    </div>
   <div class="navbar-collapse collapse" id="navbar">
     <ul class="nav navbar-nav">
       <li><a href="#">Matches</a></li>
       <li><a href="#">List</a></li>
       <li><a href="#">Messages</a></li>
     </ul>
      <form #loginForm="ngForm" class="navbar-form navbar-right" (ngSubmit)="login()" > 
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Email" [(ngModel)]="model.userName" required name="username">
        </div>
        <div class="form-group">
          <input class="form-control" type="password" placeholder="Password" = [(ngModel)]="model.password" required name="password">
        </div>
        <button class="btn btn-success" type="submit">Sign in</button>
      </form>
    </div>
  </div>
</nav>
-->
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Matches</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Messages</a>
      </li>
    </ul>
    <form  #loginForm="ngForm" class="form-inline mt-2 mt-md-0" (ngSubmit)="login()">
      <input class="form-control mr-sm-2" type="text" placeholder="Username" aria-label="Username"  [(ngModel)]="model.userName" required name="username">
      <input class="form-control mr-sm-2" type="text" placeholder="Password" aria-label="Password"  [(ngModel)]="model.password" required name="password">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign in</button>
    </form>
  </div>
</nav>